extends ../base.pug

block body
  .intro-header
    .container
      .row
        .col-lg-12
          .intro-message
            h1 Admin Dashboard
            h3 For administrators only!
            hr.intro-divider  
