extends ../base.pug
block body
  .intro-header
    .container
      .row
        .col-lg-12
          .intro-message
            h1 The Dashboard
            h3 We made it here!
            hr.intro-divider
