alembic==0.9.1
git+https://github.com/d2emon/pybackup.git
git+https://github.com/garhivelg/case.git
click==6.7
coverage==4.4.1
cx-Freeze==5.0.2
decorator==4.0.11
Faker==0.7.12
Flask==0.12
Flask-Script==2.0.5
Flask-Session==0.3.1
Flask-SQLAlchemy==2.2
Flask-Testing==0.6.2
Flask-WTF==0.14.2
infinity==1.4
intervals==0.8.0
itsdangerous==0.24
Jinja2==2.9.6
Mako==1.0.6
MarkupSafe==1.0
python-dateutil==2.6.0
python-editor==1.0.3
PyYAML==3.12
six==1.10.0
SQLAlchemy==1.1.6
SQLAlchemy-Utils==0.32.14
validators==0.12.0
Werkzeug==0.12.2
WTForms==2.1
WTForms-Alchemy==0.16.2
WTForms-Components==0.10.3
