{% extends "index.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-6">
      <form method="post" action="{{ url_for('edit_register', register_id=register.id) }}">
        {{ form.hidden_tag() }}
        <p class="sized-field lined-field">{{ form.fund.label }} {{ form.fund(size=7, class="form-control") }} {{ form.register.label }} {{ form.register(size=7, class="form-control") }}</p>  
        <p class="sized-field">
          {{ form.description.label }}
          {{ form.description(rows=5, cols=40, class="form-control") }}
        </p>
        <p><input type="submit" class="btn btn-success" value="Сохранить"></p>
      </form>
    </div>
    <div class="col-md-6">
      <div class="btn-toolbar">
        <a href="{{ url_for('edit_case', register_id=register.id) }}" class="btn btn-default">Добавить</a>
      </div>
      {% if items %}
      <ul>
        {% for i in items %}
          <li><a href="{{ url_for('edit_case', case_id=i.id) }}">{{ i }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}

