{% extends "index.html" %}
{% block content %}
  <form method="post" action="{{ url_for('add_register') }}">
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="col-md-6">
      <p>{{ form.fund.label }} {{ form.fund }}</p>  
      <p>{{ form.register.label }} {{ form.register }}</p>  
      <p><input type="submit" class="btn btn-success" value="Сохранить"></p>
    </div>
    <div class="col-md-6">
    {{ form.description.label }}<br>
    {{ form.description(rows=15) }}
    </div>
  </div>
</form>
<ul>
  {% for i in items %}
    <li>{{ i.fund }} - {{ i.register }}</li>
  {% endfor %}
</ul>
{% endblock %}

