{% macro render_field(field) %}
            <div class="control-group{% if field.errors %} error{% endif %}">
                <label class="control-label" for="{{ field.name }}">{{ field.label }}:</label>
                <div class="controls">
                    {{ field(**kwargs) }}
                    {% for error in field.errors %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                </div>
            </div>
{% endmacro %}
