<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Приватизация{% if title %} - {{title}}{% endif %}</title>
<link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Приватизация</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('list_records') }}">Список</a></li>
        <li><a href="{{ url_for('add_record') }}">Добавить</a></li>
	  	<li class="dropdown">
	  	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Справочники <span class="caret"></span></a>
	  	  <ul class="dropdown-menu">
          <li><a href="{{ url_for('list_books') }}">Дела</a></li>
          <li><a href="{{ url_for('list_cities') }}">Населенные пункты</a></li>
          <li><a href="{{ url_for('list_streets') }}">Адреса</a></li>
          <li><a href="{{ url_for('list_street_names') }}">Улицы</a></li>
	  	  </ul>
	  	</li>
	  	<li class="dropdown">
	  	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Совмещение <span class="caret"></span></a>
	  	  <ul class="dropdown-menu">
          <li><a href="{{ url_for('list_import_files') }}">Импорт</a></li>
          <li><a href="{{ url_for('export_yml') }}">Экспорт</a></li>
	  	  </ul>
	  	</li>
	  	<li class="dropdown">
	  	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Сервис <span class="caret"></span></a>
	  	  <ul class="dropdown-menu">
	  	    <li><a href="{{ url_for('reindex') }}">Переиндексировать</a></li>
	  	    <li><a href="#">Переместить в дело</a></li>
	  	    <li><a href="#">Найти пропущенные</a></li>
	  	  </ul>
	  	</li>
      </ul>
    </div><!--/.navbar-collapse -->

  </div>
</nav>

{% with messages = get_flashed_messages() %}
{% for message in messages %}
  <div class="alert alert-info">{{ message }}</div>
{% endfor %}
{% endwith %}

  <div class="row">
    <div class="col-md-3">
      {% if g.order %}
      <div>
        <strong>Сортировка:</strong> {{g.order}}
      </div>
      {% endif %}
      {% if search %}
<form method="post" action="{{ url_for('list_records') }}">
{{ search.csrf_token }}
<div>
  <p>{{ search.book_id.label }} {{ search.book_id }}</p>  
  <p>
  {{ search.reg_id.label }} {{ search.reg_id(size=8) }}<br>  
  </p>
  <div>
    <h4>Адрес</h4>
    <p>{{ search.city_id }}</p>  
    <p>{{ search.addr_type }} {{ search.addr_name(size=24) }}</p>
    <p>д. {{ search.addr_build(size=4) }} кв. {{ search.addr_flat(size=4) }}</p>  
  </div>
  <div>
    <h4>Владелец</h4>
    <p>{{ search.owner(size=24) }}&nbsp;{{ search.owner_init(size=8) }}</p>  
  </div>
  <div>
    <h4>Основание</h4>
    <p>Распоряжение № {{ search.base_id }} от {{ search.base_date }}</p>  
  </div>
  <p>Дата регистрации {{ search.reg_date }}</p>  
  <p>
    <input type="submit" class="btn btn-success" value="Фильтровать">
    <a href="{{ url_for('list_records', filter=False) }}" class="btn btn-success">Очистить</a>
  </p>
</div>
</form>
      {% endif %}
    </div> 
    <div class="col-md-9">
{% block content %}{% endblock %}
    </div> 
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{ url_for("static", filename="bootstrap/js/bootstrap.min.js") }}"></script>  
{% block script %}{% endblock %}
</body>
</html>
