{% extends "rpa.html" %}
{% block content %}
<table>
  <thead>
    <tr>
      <td>Дело</td>
      <td>Регистрационный №</td>
      <td>Адрес</td>
      <td>Владелец</td>
      <td>Основание для регистрации</td>
    </tr>
  </thead>
  <tbody>
    {% for r in records %}
    <tr>
      <td>{{ r.get_book() }}</td>
      <td>{{ r.get_reg() }}</td>
      <td><a href="#">{{ r.get_addr() }}</a></td>
      <td><a href="#">{{ r.get_owner() }}</a></td>
      {% if r.base_date %}
      <td>№{{ r.base_id }} от {{ r.base_date }}</td>
      {% else %}
      <td>№{{ r.base_id }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
