{% extends "index.html" %}
{% block content %}
{% if add %}
<div class="btn-toolbar">
  <a href="{{ add }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Добавить</a>
</div>
{% endif %}
{% if items %}
<ul>
  {% for i in items %}
    <li>
      <a href="{{ i[1] }}">{{ i[0] }}</a>
      {% if  i | length > 2 %}
      <a href="{{ i[2] }}"><span class="glyphicon glyphicon-edit"></span></a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
<h3>Список пуст</h3>
{% endif %}
{% endblock %}
