{% extends "index.html" %}
{% block content %}
  {% for book_id, book in books.items() %}
    <h3>{{book_id}}</h3>
    <p><strong>Записи:</strong> {% if book['first'] %} с {{ book['first'] }}{% endif %} {% if book['last'] %} по {{ book['last'] }}{% endif %}
    {% if book['missing'] %}
      <h3>Пропущено: {{ book['missing']|length }}</h3>
      <ul>
        {% for r in book['missing'] %}
          <li>{{ r[0] }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if book['doubled'] %}
      <h3>Дубликаты: {{ book['doubled']|length }}</h3>
      <ul>
        {% for r in book['doubled'] %}
          <li>{{ r[0] }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endblock %}

