{% extends "index.html" %}
{% block content %}
{% if g.order %}
{% endif %}
{% if count %}
<div>
  <strong>Сортировка:</strong> {{g.order}}
</div>
<div>
  <strong>Найдено:</strong> {{ count }} записей
</div>
<table class="records">
  <thead>
    <tr>
      <td><a href="{{ links['reg_id'] }}">Дело</a></td>
      <td><a href="{{ links['reg_id'] }}">Рег. №</a></td>
      <td><a href="{{ links['addr'] }}">Адрес</a></td>
      <td><a href="{{ links['owner'] }}">Владелец</a></td>
      <td><a href="{{ links['base_id'] }}">Основание для регистрации</a></td>
      <td>&nbsp;</td>
    </tr>
  </thead>
  <tbody>
    {% for r in records.items %}
    <tr>
      <td>{{ r.get_book() }}</td>
      <td>{{ r.reg_id }}</td>
      <td><a href="{{ url_for('edit_record', record_id=r.id, page=records.page) }}">{{ r.get_addr(full=True) }}</a></td>
      <td><a href="{{ url_for('edit_record', record_id=r.id, page=records.page) }}">{{ r.get_owner() }}</a></td>
      <td class="base_id">
      {% if r.base_date %}
        <span class="id_num">№{{ r.base_id }}</span> от <span class="base_date">{{ r.base_date.strftime('%d.%m.%Y') }}</span>
      {% elif r.base_id %}
        <span class="id_num">№{{ r.base_id }}</span>
      {% else %}
        <span class="id_num">&dash;</span>
      {% endif %}
      </td>
      <td><a href="{{ url_for('del_record', record_id=r.id) }}"><span class="glyphicon glyphicon-remove"></span></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if records.has_prev %}<a href="{{ url_for('list_records') }}?page={{ records.prev_num }}"><span class="glyphicon glyphicon-menu-left"></span></a>{% else %}<span class="glyphicon glyphicon-menu-left"></span>{% endif %} 
{%- for page in records.iter_pages() %}
    {% if page %}
      {% if page != records.page %}
        <a href="{{ url_for('list_records') }}?page={{ page }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
{%- endfor %}
{% if records.has_next %}<a href="{{ url_for('list_records') }}?page={{ records.next_num }}"><span class="glyphicon glyphicon-menu-right"></span></a>{% else %}<span class="glyphicon glyphicon-menu-right"></span>{% endif %}
{% else %}
<h3>По вашему запросу ничего не найдено</h3>
{% endif %}
{% endblock %}
