{% extends "index.html" %}
{% block content %}
<table>
  <thead>
    <tr>
      <td><a href="{{ url_for('list_records') }}?order=book_id">Дело</a></td>
      <td><a href="{{ url_for('list_records') }}?order=reg_id">Регистрационный №</a></td>
      <td><a href="{{ url_for('list_records') }}?order=addr">Адрес</a></td>
      <td><a href="{{ url_for('list_records') }}?order=owner">Владелец</a></td>
      <td><a href="{{ url_for('list_records') }}?order=base_id">Основание для регистрации</a></td>
    </tr>
  </thead>
  <tbody>
    {% for r in records.items %}
    <tr>
      <td>{{ r.get_book() }}</td>
      <td>{{ r.reg_id }}</td>
      <td><a href="{{ url_for('edit_record', record_id=r.id) }}">{{ r.get_addr() }}</a></td>
      <td><a href="#">{{ r.get_owner() }}</a></td>
      {% if r.base_date %}
      <td>№{{ r.base_id }} от {{ r.base_date.strftime('%d.%m.%Y') }}</td>
      {% else %}
      <td>№{{ r.base_id }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if records.has_prev %}<a href="{{ url_for('list_records') }}?page={{ records.prev_num }}"><span class="glyphicon glyphicon-menu-left"></span></a>{% else %}<span class="glyphicon glyphicon-menu-left"></span>{% endif %} 
{%- for page in records.iter_pages() %}
    {% if page %}
      {% if page != records.page %}
        <a href="{{ url_for('list_records') }}?page={{ records.page }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
{%- endfor %}
{% if records.has_next %}<a href="{{ url_for('list_records') }}?page={{ records.next_num }}"><span class="glyphicon glyphicon-menu-right"></span></a>{% else %}<span class="glyphicon glyphicon-menu-right"></span>{% endif %}
{% endblock %}
