{% extends "index.html" %}
{% block script %}
<script type=text/javascript>
  $(function() {
    $('#full_addr').bind('change', function() {
      $.post('{{ url_for("parse_addr") }}', {
        addr: $('input[name="full_addr"]').val()
      }, function(data) {
        $("#addr_type").val(data.addr_type).change();
        $("#addr_name").val(data.addr_name);
        $("#addr_build").val(data.addr_build);
        $("#addr_flat").val(data.addr_flat);
      }, "json");
      return false;
    });
  });

  $(function() {
	    $('#full_owner').bind('change', function() {
	      $.post('{{ url_for("parse_owner") }}', {
	        owner: $('input[name="full_owner"]').val()
	      }, function(data) {
	        $("#owner").val(data.owner);
	        $("#owner_init").val(data.owner_init);
	      }, "json");
	      return false;
	    });
	  });

  $(function() {
	    $('.owner_names input').bind('change', function() {
        first_name = $('#owner_firstname').val();
        middle_name = $('#owner_middlename').val();
        if (first_name.length > 0) {
          first_name = first_name[0] + ".";
        }
        if (middle_name.length > 0) {
          middle_name = middle_name[0] + ".";
        }
	      $("#owner_init").val(first_name + middle_name);
	      return false;
	    });
	  });
</script>
{% endblock %}
{% block content %}
{% if record.id %}
<div class="btn-toolbar filter">
  <a href="{{ url_for('list_records', page=form.page_id.data) }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Назад</a>
</div>
<h1>Запись № {{record.reg_id}}</h1>
{% endif %}
<form method="post" action="{{ action }}">
{{ form.csrf_token }}
<div class="row">
<div class="col-md-6">
  <p>{{ form.case.label }} {{ form.case }}</p>  
  <p>
  {{ form.reg_id.label }} {{ form.reg_id(size=8, placeholder='1/1') }}  
  </p>
  <div>
    <h4>Адрес</h4>
    {% if not hide_calc %}
    <p>{{ form.full_addr(size=48, placeholder=default_addr) }}</p>  
    {% endif %}
    <p>{{ form.city_id }}</p>  
    <p>{{ form.addr_type }} {{ form.addr_name(size=24) }} д. {{ form.addr_build(size=4) }} кв. {{ form.addr_flat(size=4) }}</p>  
  </div>
  <div>
    <h4>Владелец</h4>
    {% if not hide_calc %}
    <p>{{ form.full_owner(size=48, placeholder=default_owner) }}</p>  
    {% endif %}
    <p>{{ form.owner(size=32) }}&nbsp;{{ form.owner_init(size=8) }}</p>  
    <p class="owner_names">{{ form.owner_firstname(size=32, placeholder=default_firstname) }}</p>
    <p class="owner_names">{{ form.owner_middlename(size=32, placeholder=default_middlename) }}</p>  
  </div>
  <div>
    <h4>Основание</h4>
    <p>Распоряжение № {{ form.base_id }} от {{ form.base_date }}</p>  
  </div>
  <p>Дата регистрации {{ form.reg_date }}</p>  
  {{ form.page_id }}
  <p>
    <input type="submit" class="btn btn-success" value="Сохранить">
  </p>
</div>
<div class="col-md-6">
  {{ record.description }}
  {{ form.comment.label }}<br>
  {{ form.comment(rows=15) }}
</div>
</div>
</form>
{% endblock %}
