{% extends "index.html" %}
{% block content %}
{% if g.order %}
{% endif %}
{% if count %}
<div>
  <form action="/record" method="GET" class="page-select">
    <strong>Перейти на страницу:</strong> <input type="text" size="5" name="page" class="form-control"> <input type="submit" value="Перейти" class="btn">
  </form>
</div>
<div>
  <strong>Сортировка:</strong> {{g.order}}
</div>
<div>
  <strong>Найдено:</strong> {{ count }} записей
</div>
<table class="records table">
  <thead>
    <tr>
      <th><a href="{{ links['reg_id'] }}">Дело</a></th>
      <th><a href="{{ links['reg_id'] }}">Рег. №</a></th>
      <th><a href="{{ links['addr'] }}">Адрес</a></th>
      <th><a href="{{ links['owner'] }}">Владелец</a></th>
      <th><a href="{{ links['base_id'] }}">Основание для регистрации</a></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for r in records.items %}
    <tr>
      <td>{{ r.get_book() }}</td>
      <td>{{ r.reg_id }}</td>
      <td><a href="{{ url_for('edit_record', record_id=r.id, page=records.page) }}">{{ r.get_addr(full=True) }}</a></td>
      <td><a href="{{ url_for('edit_record', record_id=r.id, page=records.page) }}">{{ r.get_owner() }}</a></td>
      <td class="base_id">
      {% if r.base_date %}
        <span class="id_num">№{{ r.base_id }}</span> от <span class="base_date">{{ r.base_date.strftime('%d.%m.%Y') }}</span>
      {% elif r.base_id %}
        <span class="id_num">№{{ r.base_id }}</span>
      {% else %}
        <span class="id_num">&dash;</span>
      {% endif %}
      </td>
      <td><a href="{{ url_for('del_record', record_id=r.id) }}"><span class="glyphicon glyphicon-remove"></span></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h3>По вашему запросу ничего не найдено</h3>
{% endif %}
{% if records.pages %}
<ul class="pagination">
  <li{% if not records.has_prev %} class="disabled"{% endif %}><a href="{{ url_for('list_records') }}?page={{ records.prev_num }}"><span class="glyphicon glyphicon-menu-left"></span></a></li>
  {%- for page in records.iter_pages() %}
    {% if page %}
      <li{% if page == records.page %} class="active"{% endif %}><a href="{{ url_for('list_records') }}?page={{ page }}">{{ page }}</a></li>
    {% else %}
      <li><span class=ellipsis>…</span></li>
    {% endif %}
  {%- endfor %}
  <li{% if not records.has_next %} class="disabled"{% endif %}><a href="{{ url_for('list_records') }}?page={{ records.next_num }}"><span class="glyphicon glyphicon-menu-right"></span></a></li>
</ul>
{% endif %}
{% endblock %}
