extends ../base.pug

block body
  .intro-header
    .container
      .row
        .col-lg-12
          .intro-message
            h1 Приватизация
            h3 Реестр приватизированного жилья
            img(src="/static/images/logo.jpg", height="200")
            hr.intro-divider
            | {% if user and user.is_authenticated %}
            h4 Вы вошли как {{ user.title }}.
            | {% else %}
            h4 Вы не авторизованы. <a href="{{ url_for('login') }}">Авторизуйтесь</a> для продолжения работы.
            | {% endif %}
            h5 {{ date.strftime('%d.%m.%Y %H:%M:%S') }}
