form(method="post", action="{{ url_for('edit_register', register_id=register.id) }}")
  | {{ form.hidden_tag() }}
  p.sized-field 
    | {{ form.fund.label }} {{ form.fund(class="form-control", size=7) }}
    | {{ form.register.label }} {{ form.register(class="form-control", size=7) }}
  p.sized-field
    | {{ form.description.label }}
    | {{ form.description(rows=5, cols=40, class="form-control") }}
  p
    input(type="submit", class="btn btn-success", value="Сохранить")
