extends ../_priv.pug

block content
  .row
    .col-md-6
      include _facility_form.pug
    .col-md-6
      include _children.pug
      +children('Дела:', items, "{{ url_for('edit_case', case_id=i.id) }}", "{{ url_for('edit_case', facility_id=facility.id) }}", "К этому предприятия не привязано ни одного дела")
