body {
	margin: 0 20px;
    padding-top: 64px;
}

.records td {
    padding: 0px 5px;
}

.base_id {
    font-size: x-small;
}

.base_id span {
    font-size: 14px;
    display: inline-block;
}

.base_id .id_num {
    min-width: 50px;
}

.base_id .base_date {
    padding: 0px 10px;
}

.sized-field {
    width: 405px;
}

.sized-field label {
    width: 100px;
}

.sized-field input, .sized-field select {
    width: 300px;
}

.lined-field label {
    width: 50px;
}

.lined-field input, .lined-field select {
    display: inline-block;
    width: 146px;
}

.sized-field textarea {
    display: block;
    width: 405px;
}

.btn-toolbar {
    padding: 5px 40px 10px 40px;
}
