doctype html
html
  head
    title Приватизация{% if title %} - {{title}}{% endif %}
    meta(charset="UTF-8")
    link(href="{{ url_for('static', filename='css/bootstrap.min.css') }}", rel="stylesheet")
    link(href="{{ url_for('static', filename='css/font-awesome.min.css') }}", rel="stylesheet")
    link(href="{{ url_for('static', filename='css/main.css') }}", rel="stylesheet")
    link(rel="shortcut icon", href="{{ url_for('static', filename='favicon/favicon.ico') }}")
  body
    nav(class="navbar navbar-inverse navbar-fixed-top topnav", role="navigation")
      div(class="container topnav")
        div(class="navbar-header")
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="navbar-brand topnav", href="/") Приватизация
        div(class="collapse navbar-collapse", id="navbar")
          ul(class="nav navbar-nav")
            li
              a(href="{{ url_for('list_records') }}") Список
            li
              a(href="{{ url_for('add_record') }}") Добавить
            li.dropdown
              a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Справочники <span class="caret"></span>
              ul.dropdown-menu
                li
                  a(href="{{ url_for('list_registers') }}") Описи
                li
                  a(href="{{ url_for('list_cases') }}") Дела
                li
                  a(href="{{ url_for('list_facilities') }}") Предприятия
                li
                  a(href="{{ url_for('list_cities') }}") Населенные пункты
                li
                  a(href="{{ url_for('list_streets') }}") Адреса
                li
                  a(href="{{ url_for('list_street_names') }}") Улицы
            li.dropdown
              a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Совмещение <span class="caret"></span>
              ul.dropdown-menu
                li
                  a(href="{{ url_for('list_import_files') }}") Импорт
                li
                  a(href="{{ url_for('export_yml') }}") Экспорт
            li.dropdown
              a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Сервис <span class="caret"></span>
              ul.dropdown-menu
                li
                  a(href="{{ url_for('reindex') }}") Переиндексировать
                li
                  a(id="group-edit" href="{{ url_for('edit_all') }}") Групповое изменение
                li
                  | {% if session.get('filter', dict()).get('case') is number %}
                  a(href="{{ url_for('missing', book_id=session.get('filter', dict()).get('case')) }}") Найти пропущенные
                  | {%else %}
                  a(href="{{ url_for('missing') }}") Найти пропущенные
                  | {% endif %}
            | {% if g.user and g.user.is_admin %}
            li
              a(href="{{ url_for('list_users') }}") Пользователи
            li
              a(href="{{ url_for('add_user') }}") Зарегистрировать
            | {% endif %}
            | {% if g.user %}
            li
              a {{ g.user.title }}
            | {% endif %}

    | {% with messages = get_flashed_messages() %}
    | {% for message in messages %}
    div(class="alert alert-info") {{ message }}
    | {% endfor %}
    | {% endwith %}

    .wrapper
      .row
        div(id="filter", class="col-md-3", style="display: none;")
          | {% if search %}
          form(method="post", action="{{ url_for('list_records') }}", class="form-horizontal")
            | {{ search.hidden_tag() }}
            div
              div
                | {{ search.case.label(class="control-label") }} 
                | {{ search.case(class="form-control") }}
              div
                | {{ search.reg_id.label(class="control-label") }}
                | {{ search.reg_id(size=8, class="form-control") }}  
            div
              h4 Адрес
              .form-group
                div(class="form-group row")
                  .col-sm-12 {{ search.full_addr(size=48, class="form-control autocomplete") }}
                .col-sm-12 {{ search.city_id(class="form-control") }}
                .col-sm-4 {{ search.addr_type(class="form-control") }}
                .col-sm-8 {{ search.addr_name(size=24, class="form-control") }}
                .col-sm-4 <label for="addr_build" class="control-label">д. </label>{{ search.addr_build(size=4, class="form-control") }}
                .col-sm-4 <label for="addr_flat" class="control-label">кв. </label>{{ search.addr_flat(size=4, class="form-control") }}
            div
              h4 Владелец
              .form-group
                .col-sm-9 {{ search.owner(size=24, class="form-control") }}
                .col-sm-3 {{ search.owner_init(size=8, class="form-control") }}
            div
              h4 Основание
              .form-group
                label(for="base_id", class="control-label col-sm-6") Распоряжение № 
                .col-sm-6 {{ search.base_id(class="form-control") }}
              label(for="base_date", class="control-label col-sm-6") от 
              .col-sm-6 {{ search.base_date(class="form-control") }}
              .form-group
                label(for="reg_date", class="control-label col-sm-6") Дата регистрации
                .col-sm-6 {{ search.reg_date(class="form-control") }}
            div
              input(type="submit", class="btn btn-success", value="Фильтровать")
              a(href="{{ url_for('list_records', filter=False) }}", class="btn btn-warning") Очистить
          | {% endif %}

        .col-md-9
          | {% if search %}
          div(class="btn-toolbar filter")
            a(href="#", class="btn btn-default", id="filterClick") <span class="glyphicon glyphicon-filter"></span> Фильтр
          | {% endif %}
          block content
            block body

            | {% block content %}
            | {% endblock %}
      div(class="row")
        | Уникальных посетителей: {{ g.counter }}

  script(src="{{ url_for('static', filename='js/jquery.min.js') }}")
    script(src="{{ url_for('static', filename='js/jquery.autocomplete.min.js') }}")
    script(src="{{ url_for('static', filename='js/bootstrap.min.js') }}")
    | {% block script %}
    script(type="text/javascript").
      $(function() {
        $('#filterClick').bind('click', function() {
          $('#filter').toggle();
        });
      });

      $(function() {
        $('#full_addr').bind('change', function() {
          $.post('{{ url_for("parse_addr") }}', {
            addr: $('input[name="full_addr"]').val()
          }, function(data) {
            $("#addr_type").val(data.addr_type).change();
            $("#addr_name").val(data.addr_name);
            $("#addr_build").val(data.addr_build);
            $("#addr_flat").val(data.addr_flat);
          }, "json");
          return false;
        });
      });

      $('.autocomplete').autocomplete({
        serviceUrl: '/list/streetnames.json',
        onSelect: function (suggestion) {
          $("#city_id").val(suggestion.data.city_id).change();
          $("#addr_type").val(suggestion.data.addr_type);
          $("#addr_name").val(suggestion.data.addr_name);
        }
      });
    | {% endblock %}
